        <div class="w3-col s4">
            <h4>INFORMATION</h4>
            <p><a href="#">Creer un profile</a></p>
            <p><a href="#">prospection</a></p>
            <p><a href="#">Support</a></p>
            <p><a href="#">Aide</a></p>
        </div>

      <div class="w3-col s4">
      
        <h4>INFORMATION PERSONNELLES</h4>
        <p><i class="fa fa-fw fa-user"></i> <strong>{{employer.nom}} - {{employer.prenom}} </strong></p>
        <p><i class="fa fa-fw fa-phone"></i> {{employer.telephone}}</p>
        <p><i class="fa fa-fw fa-envelope"></i> {{employer.email}}</p>
        
        <p><i class="fa fa-fw fa-map-marker"></i> {{employer.adresse}}</p>
        <p><i class="fa fa-fw fa-flask"></i>{{employer.exppro}} | Experience</p>
        <p><i class="fa fa-fw fa-ils"></i> {{employer.age}} ans</p>
        
      </div>

      <div class="w3-col s4 w3-justify">
       <h4>INFOS SUPPLEMENTAIRES</h4>
       
        <h4>Paiement accepte</h4>
        <p><i class="fa fa-fw fa-cc-amex"></i> Amex</p>
        <p><i class="fa fa-fw fa-credit-card"></i>Carte Credit </p>
        <br>
        <i class="fa fa-facebook-official w3-hover-opacity w3-large"></i>
        <i class="fa fa-instagram w3-hover-opacity w3-large"></i>
        <i class="fa fa-snapchat w3-hover-opacity w3-large"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity w3-large"></i>
        <i class="fa fa-twitter w3-hover-opacity w3-large"></i>
        <i class="fa fa-linkedin w3-hover-opacity w3-large"></i>
        <a href="https://www.youtube.com/@stephanos10/"><i class="fa fa-youtube w3-hover-opacity w3-large"></i></a>
        </div>